{% extends "base.html" %}
{% block content %}

<main class="px-3">
     <h1>enter URL here</h1>
<div class="form">
   <form action="/articledownload/" method="POST" type="text" accept-charset="utf-8">{% csrf_token %}
    <div class="input-group">
        <input name="getarticle" class="form-control" type="text"/>
        <input type="submit" value="submit">
    </div>
   </form>
   </div>

<h1>{{ title }}</h1>
<br>
<img src="{{ image }}">
<br>
<p class="lead">{{ text }}</p>
<br>
<p class="lead">{{ summary }}</p>

</main>

{% endblock %}